{% extends "main_form.html" %}
{% block title %}
    Home
{% endblock title %}
{% block page %}
    <h1 class="text-center">
        <span class="badge bg-primary content-center">Crypto application</span>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>
                    This is my first own application written in <span class="text-success">Django</span>
                </p>
                <hr>
                <h6>My plan for this app</h6>
                <hr>
                <p>
                    - Home page is about on this app and on I will make.
                </p>
                <p>
                    - Graph page will have graph with crypto currency
                    historicall and actuall price anallyses and good practice
                    when somone should buing/selling.
                </p>
                <p>
                    - Contact is only how someone can catch me (send email)
                </p>
                <p>
                    - Conect crypto wallet
                </p>
            </div>
        </div>
    </div>
{% endblock page %}
